body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.col-12{
    width: 100%;
    padding-left: 15px;
    padding-right : 15px;
    display: flex;
}

.col-8{
    width : 75%;
    display: inline-block;

}

.col-4{
    width: 24%;
    display: inline-block;

}

.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}

.del{
    border: 0px;
    float: right;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    font-weight: 700;
    background-color: yellow;
    display: none;
}
.green-border{
    border: 5px green solid;
}

.blue-border{
    border: 5px blue solid;
}

.navbar-style{
    background-color: #512DA8;
    height: 20%;
}

.navbar-style p.heading{
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 25px;
    margin-block-start: 0px;
}

.side-list{
    background-color: #009688;
}

.main-container{
    background-color: white;
    height: 682px;
}

.side-list ul {
    height:650px;
    width:95%;
    overflow:hidden; 
    overflow-y:scroll; 
    list-style:none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

.side-list li.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 80px;
    background-color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 42px;
    text-align: center;
}

.display-inline{
    display: inline-block
}
.drop-place{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    margin : 1em;
    margin-top: 30px;
    margin-right: 0px;
    position: relative;
    width: 300px;
    text-align: center;
}

.new-drop-place{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    margin : 1em;
    margin-top: 30px;
    margin-right: 0px;
    position: relative;
    width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.scroll-container{
    overflow: hidden;
    overflow-y: scroll;
    background-color: #F44336
}

.footer{
    width: 100%;
    background-color: #9C27B0;
    text-align: center;
    font-size: 35px;
    height: 60px;
    padding-top: 20px;
    font-weight: 700;
    color: white;
}

.no-display {
    display : none
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }