<!DOCTYPE html>
<html>
    <head>
        <script src="../js/index.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        <title>Drag Assignment</title>
    </head>
    <body>
        <div class="row">
            <div class ="navbar-style">
                <p class="heading">Drag & Drop Assignment</p>
            </div>
            <div class="row">
                <div class="col-12 no-padding">
                    <div class="col-4 side-list">
                        <div class ="col-12">
                            <ul id="data-list">
                                
                            </ul>

                        </div>
                    </div>
                    <div class="col-8 main-container scroll-container">
                        <div class="" id="data-div">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            This is footer
        </div>
    </body>
</html>